extends layout

block head
  script(type='text/javascript', src='/javascripts/controllers/ShortcutController.js')

block content
  div.container(ng-controller="ShortcutController")
    h1= title
    p Welcome to #{title}

    section
      h2 Create a new shortcut
      form(novalidate, ng-submit="addNewShortcut()")
        p
          input(ng-model="newShortcutUrl", placeholder="URL")

        p
          button.btn.btn-primary(type="submit") Add URL

        p= 'Shortcut: '
          a(href="{{newShortcut.shortcut}}") {{newShortcut.shortcut}}

    section
      h2 Retrieve a shortcut
      form(novalidate ng-submit="retrieveShortcut()")
        p
          input(ng-model="existingShortcutId", placeholder="Shortcut")

        p
          button.btn.btn.primary(type="submit") Retrieve Shortcut

        p= 'Linked URL: '
          a(href="{{existingShortcut.url}}") {{existingShortcut.url}}
