extends layout

block head
  script(type='text/javascript', src='/javascripts/controllers/AddUrlController.js')

block content
  div.container(ng-controller="AddUrlController")
    h1= title
    p Welcome to #{title}

    form(novalidate, ng-submit="addNewUrl()")
      p
        input(ng-model="newUrl.url", placeholder="URL")

      p
        button.btn.btn-primary(type="submit") Add URL

    div(ng-if="newUrl.short")
      p Short URL: 
        a(href="{{newUrl.short}}") {{newUrl.short}}
